body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fce7b3;
}

.container {
  width: 99%;
  max-width: 1000px;
  margin: 20px auto;
}

.nav {
  background: white;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
}

.brand {
  font-size: 22px;
  font-weight: bold;
  color: #c47a1c;
  text-decoration: none;
}

.nav-links {
  float: right;
   position: relative;
  top: -22px;
}

.nav-link {
  text-decoration: none;
  color: #777;
  margin-right: 10px;
}

.nav-link.active {
  color: #d97706;
  font-weight: bold;
}

.hero {
  background: white;
  padding: 20px;
  border-radius: 60px;
  text-align: center;
  margin-top: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  margin-top: 20px;

}

.card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 0 5px #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 125px;
}

.card-title {
  font-weight: bold;
}

.card-meta {
  font-size: 13px;
  color: gray;
}

.btn {
  background: #d97706;
  color: white;
  border: none;
  padding: 3px 17px;
  cursor: pointer;
  border-radius: 5px;
}

.footer {
  margin-top: 30px;
  text-align: center;
  padding: 10px 0;
  color: #666;
  background: white;
  border-top: 1px solid #ddd;
}

.form {
  background: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 0 5px #ddd;
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 800px) {
  .nav-links {
    display: none;
  }
}
